<div class="jumbotron">
    <h1>Contact Manger</h1>
    <p class="lead">This is a restfull api project for managing contacts.</p>
    
</div>
<div class="row">
    <div >
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. This API is created using Web API with facility of dependacny injection using
        Ninject IoC container. Please check the API sectin for API documentation</p>
        
    </div>
   
</div>
